 body {
    background-color: black;
    margin: 0;
    padding: 0;
 }

 h1 {
    color: black;
    font-weight: bold;
 }

 h2 {
    color: red;
    font-weight: bold;
 }

 button {
    background-color: green;
    color: black;
    height: 5vh;
    width: 5vw;
    font-size: medium;
    font-weight: bold;
 }

.stuff {
    border: 5px solid white;
    text-align: center;
    margin: 0;
    background: white;
    
    /* Center horizontally */
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    
    /* Center vertically */
    top: 50%;
    transform: translateY(-50%);
    
    
}



